.expenses {
  margin-top: 67px;
  margin-bottom: 100px;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

.expenses-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 40px;
}

.expenses-input-list {
  display: flex;
  gap: 28px;
  width: 910px;
  margin-bottom: 65px;
}

.expense-input {
  width: 484px;
  height: 58px;
  font-size: 32px;
  line-height: 38px;
  padding: 10px 0 9px 22px;
  margin-bottom: 20px;
}

.category-select {
  width: 510px;
  height: 75px;
  font-size: 32px;
  line-height: 38px;
  padding: 10px 0 9px 22px;
}

.expenses-validation-message,
.popup-expensesValidation-message {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 30px;
  color: red;
}

.expenses-validation-message-hidden,
.popup-expenses-validation-message-hidden {
  display: none;
}

.add-button {
  width: 370px;
  height: 58px;
  font-size: 32px;
  line-height: 39px;
  color: white;
  background-color: #0094ff;
  border: none;
  cursor: pointer;
}

.expenses-info-list {
  display: flex;
  justify-content: space-between;
  width: 910px;
  margin-bottom: 112px;
}

.label {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.rub {
  font-size: 32px;
  line-height: 38px;
}

.expenses-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.expenses-popup-open {
  opacity: 1;
  visibility: visible;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-height: 100%;
  padding: 40px;
  overflow-y: auto;
  background-color: #fff;
}

.popup-text {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 40px;
}

.expenses-popup-input {
  width: 484px;
  height: 58px;
  font-size: 32px;
  line-height: 38px;
  padding: 10px 0 9px 22px;
  margin-bottom: 20px;
}

.popup-inner-btn {
  width: 370px;
  height: 58px;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: white;
  background-color: #0094ff;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;
}

.popup-changeLimitBtn {
  cursor: pointer;
}

.popup-close-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background-image: url(..//files/cancel-btn-mini.png);
}

.expenses-body-fixed {
  overflow: hidden;
}

.stats-status-text-positive {
  font-size: 32px;
  line-height: 38px;
  color: green;
}

.stats-status-text-negative {
  font-size: 32px;
  line-height: 38px;
  color: red;
}

.history-title {
  margin-right: 215px;
}

.clear-button {
  width: 484px;
  height: 58px;
  font-size: 32px;
  line-height: 39px;
  color: white;
  background-color: red;
  border: none;
  cursor: pointer;
  margin-top: 110px;
}

@media (max-width: 1249px) {
  .container {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1029px) {
  .expenses {
    margin-bottom: 60px;
  }

  .expensesTitle {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .expenses-input-list {
    width: 650px;
    margin-bottom: 50px;
  }

  .expense-input {
    width: 300px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 9px 22px;
  }

  .category-select {
    width: 325px;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 9px 22px;
  }

  .add-button {
    width: 300px;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
  }

  .expenses-info-list {
    width: 660px;
    margin-bottom: 70px;
  }

  .label {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
  }

  .stats {
    width: 300px;
  }

  .rub {
    font-size: 20px;
    line-height: 30px;
  }

  .popup-changeLimitBtn {
    width: 20px;
    height: 20px;
  }

  .expenses-validation-message,
  .popup-expensesValidation-message {
    font-size: 20px;
    line-height: 30px;
  }

  .popup-content {
    padding: 20px;
  }

  .popup-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 30px;
  }

  .popup-inner-btn {
    width: 300px;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
  }

  .expenses-popup-input {
    width: 300px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 9px 22px;
  }

  .stats-status-text-positive {
    font-size: 20px;
    line-height: 30px;
    color: green;
  }

  .stats-status-text-negative {
    font-size: 20px;
    line-height: 30px;
    color: red;
  }

  .history-title {
    margin-right: 215px;
  }

  .clear-button {
    width: 300px;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
    margin-top: 60px;
  }
}

@media (max-width: 769px) {
  .expenses-input-list {
    width: 100%;
    flex-direction: column;
  }

  .expenses-info-list {
    flex-direction: column;
    width: 100%;
  }

  .clear-button {
    margin-bottom: 40px;
  }
}

@media (max-width: 435px) {
  .expense-input {
    width: 200px;
    height: 30px;
    font-size: 15px;
    line-height: 25px;
    padding: 5px 0 5px 10px;
  }

  .category-select {
    width: 215px;
    height: 40px;
    font-size: 15px;
    line-height: 25px;
    padding: 5px 0 5px 10px;
  }

  .add-button {
    width: 215px;
    height: 40px;
    font-size: 15px;
    line-height: 25px;
  }

  .expenses-info-list {
    width: 100%;
  }

  .expenses-validation-message {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .label {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
  }

  .stats {
    width: 250px;
  }

  .rub {
    font-size: 15px;
    line-height: 25px;
  }

  .popup-changeLimitBtn {
    width: 15px;
    height: 15px;
  }

  .expenses-validation-message,
  .popup-expensesValidation-message {
    font-size: 15px;
    line-height: 25px;
  }

  .popup-content {
    padding: 15px;
  }

  .popup-text {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 20px;
  }

  .popup-inner-btn {
    width: 215px;
    height: 40px;
    font-size: 15px;
    line-height: 25px;
  }

  .expenses-popup-input {
    width: 200px;
    height: 30px;
    font-size: 15px;
    line-height: 25px;
    padding: 5px 0 5px 10px;
  }

  .popup-close-btn {
    right: 5px;
    top: 5px;
    width: 18px;
    height: 18px;
    cursor: pointer;
  }

  .stats-status-text-positive {
    font-size: 15px;
    line-height: 25px;
    color: green;
  }

  .stats-status-text-negative {
    font-size: 15px;
    line-height: 25px;
    color: red;
  }

  .history-title {
    margin-right: 215px;
  }

  .clear-button {
    width: 215px;
    height: 40px;
    font-size: 15px;
    line-height: 25px;
    margin-top: 30px;
  }
}
